@use "./variables";
@use "./card";
@use "./searchmovie.scss";
@use "./footer";


* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    scroll-behavior: smooth;
}
.wrapper {
    width: min(90%, 120rem);
    margin-inline: auto;
}